html,
body {
  min-height: 100vh;
  height: auto;
}
input {
  box-shadow: inset 4px 4px 15px 0px #00000096;
  outline: none;
  border: none;
  font-weight: 500;
  letter-spacing: 0.5px;
}
input:active {
  border: none;
  outline: none;
}
.question {
  cursor: pointer;
  transition: all 0.5s;
}
.question:hover {
  color: #ffc94b;
}
.submit-button,
.submit-button > h1 {
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 0 0 15px 15px;
}
.submit-button > h1:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 0 0 15px 15px;
}
