<nav>
  <div
    class="component"
    style="
      display: flex;
      align-items: center;
      height: 100%;
      gap: 0.7em;
      padding: 0px 8em;
    "
  >
    <div class="logo" style="flex: 0.5" (click)="homeLink()">
      <img src="/assets/icon/KreaLogo.png" style="height: 2em" alt="" />
    </div>
    <div class="search" style="flex: 6">
      <input type="text" /><img
        src="/assets/icon/SearchIcon.png"
        class="btn-icon"
        alt=""
      />
    </div>
    <div class="icon btn-icon">
      <img
        src="/assets/icon/CartIcon.png"
        routerLink="/cart"
        style="height: 2em"
        alt=""
      />
    </div>
    <div class="icon btn-icon">
      <img src="/assets/icon/NotificationIcon.png" style="height: 2em" alt="" />
    </div>
    <div class="icon btn-icon btn-history">
      <p>History</p>
    </div>
    <div class="icon btn-icon btn-profile">
      <img src="/assets/icon/Profile.png" alt="" />
    </div>
  </div>
</nav>
