<app-navigation-bar></app-navigation-bar>
<div class="component ads-banner" style="display: grid; padding-top: 3em">
  <img
    src="/assets/banner/AdsBanner1.png"
    style="margin: auto; width: 80%"
    alt=""
  />
  <div
    style="
      margin: auto;
      background-color: #4a6163;
      width: 80%;
      height: 17em;
      margin-top: 3em;
      border-radius: 20px;
      display: grid;
    "
  >
    <div class="component" style="width: 80%; margin: 0 auto">
      <h1
        style="
          font-size: 1.5em;
          margin-left: 30px;
          margin-top: 10px;
          color: #ffc94b;
        "
      >
        Hot Items!
      </h1>
      <app-recommendation></app-recommendation>
    </div>
  </div>
</div>
