table {
  width: 100%;
}
th.mat-header-cell {
  font-size: 1.5em;
  font-weight: 800;
}

td.mat-cell {
  font-size: 1.2em;
}
tr.mat-row {
  background-color: #f6f6f6;
  height: 39px !important;
  border-top: 9px solid #fff;
  border-bottom: 9px solid #fff;
  border-left: none;
  border-right: none;
}
