<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="NAME">
    <th mat-header-cell *matHeaderCellDef>Name.</th>
    <td mat-cell *matCellDef="let element">{{ element.items_name }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="PRICE">
    <th mat-header-cell *matHeaderCellDef>Price.</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="SOLD_AMOUNT">
    <th mat-header-cell *matHeaderCellDef>Sold.</th>
    <td mat-cell *matCellDef="let element">{{ element.sold_amount }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="CATEGORY">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let element">{{ element.category_name }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="BUTTON">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-raised-button (click)="add()">Add Item</button>
      <button
        mat-raised-button
        color="warn"
        (click)="logout()"
        style="margin-left: 10px"
      >
        Logout
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button
        color="warn"
        (click)="deleteItem(element.items_id)"
      >
        Delete</button
      ><button mat-raised-button color="primary" style="margin-left: 10px">
        Edit
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
