<div class="file-upload" *ngIf="this.shapes == 'cube'">
  <label for="image-file">Front Image : </label>
  <input id="image-file" (change)="frontImg($event)" type="file" #imageFile />
  <label for="image-file">Back Image : </label>
  <input id="image-file" (change)="backImg($event)" type="file" #imageFile />
  <label for="image-file">Left Image : </label>
  <input id="image-file" (change)="leftImg($event)" type="file" #imageFile />
  <label for="image-file">Right Image : </label>
  <input id="image-file" (change)="rightImg($event)" type="file" #imageFile />
</div>
<div class="file-upload" *ngIf="this.shapes == 'cyllinder'">
  <label for="image-file">Top Image : </label>
  <input id="image-file" (change)="topImg($event)" type="file" #imageFile />
  <label for="image-file">Mid Image : </label>
  <input id="image-file" (change)="midImg($event)" type="file" #imageFile />
</div>
<div class="file-upload" *ngIf="this.shapes == 'cookies'">
  <label for="image-file">Top Image : </label>
  <input id="image-file" (change)="cookiesTop($event)" type="file" #imageFile />
  <label for="image-file">Botom Image : </label>
  <input id="image-file" (change)="cookiesBot($event)" type="file" #imageFile />
</div>
<body id="body"></body>
