<app-navigation-bar> </app-navigation-bar>

<div class="container" style="display: flex; gap: 50px">
  <div class="cart-list" style="flex: 2; margin: 100px auto">
    <ul style="margin: 0">
      <h1
        style="
          border-bottom: solid 3px #4a6163;
          font-weight: 700;
          letter-spacing: 0px;
          padding: 20px 0px;
          color: #4a6163;
        "
      >
        Cart
        <span
          ><img
            style="height: 35px"
            src="assets/icon/verified-icon-filled.svg"
            alt=""
        /></span>
      </h1>
      <li
        *ngFor="let a of cartItems"
        style="
          display: flex;
          border-bottom: solid 3px rgb(74, 97, 99, 0.7);
          padding: 10px 0px;
          color: #4a6163;
        "
      >
        <span style="flex: 1; align-self: center"
          ><img src="assets/icon/check-icon-filled.png" alt="" />
        </span>
        <span style="flex: 1" class="display-picture">
          <p *ngIf="a.category_name === 'birthday_cake'">cake</p>
          <p *ngIf="a.category_name != 'birthday_cake'">
            {{ a.category_name }}
          </p></span
        >
        <div
          style="
            flex: 5;
            align-self: center;
            font-weight: 700;
            font-size: 1.5em;
            padding: 0px 10px;
          "
        >
          <p
            style="
              margin: 0;
              font-weight: 700;
              font-size: 1.3em;
              margin-bottom: 10px;
            "
          >
            {{ a.items_name }}
          </p>
          <p style="font-size: 1em; font-weight: 600; margin: 0">
            Rp. {{ a.price }},-
          </p>
        </div>
        <div style="flex: 2; display: grid; gap: 5px">
          <div
            class=""
            style="display: flex; height: 2.5em; width: 10em; margin: 15px 0px"
          >
            <div class="quantity-btn">
              <!-- <div class="quantity-min" style="border-radius: 5px 0px 0px 5px">
                <p style="margin: auto">-</p>
              </div> -->
              <div class="quantity-number">
                <p style="margin: auto">Quantity : {{ a.quantity }}</p>
              </div>
              <!-- <div class="quantity-plus" style="border-radius: 0px 5px 5px 0px">
                <p style="margin: auto">+</p>
              </div> -->
            </div>
          </div>
          <button
            style="
              display: flex;
              color: white;
              border-radius: 5px;
              align-items: center;
              padding: 5px;
              height: 2.5em;
              background: #bc142b;
              border: none;
              width: 10em;
              margin-top: -20px;
            "
            (click)="deleteCartItems(a.cart_items_id)"
          >
            <span style="flex: 1"
              ><img
                style="height: 1.5em"
                src="assets/icon/trash-icon.svg"
                alt=""
                fill="currentColor"
            /></span>
            <p style="flex: 4; margin: auto">Delete</p>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div
    class="cart-total"
    style="
      flex: 1;
      margin: 100px auto;
      width: 100%;
      display: grid;
      border: solid 3px rgba(74, 97, 99, 1);
      border-radius: 15px;
      height: max-content;
    "
  >
    <div
      class="promo-code"
      style="padding: 20px; border-bottom: solid 3px rgba(74, 97, 99, 1)"
    >
      <H2 style="font-weight: 800; color: #4a6163; font-size: 1.5em"
        >Promo Code :</H2
      >
      <input
        type="text"
        placeholder="Enter Promo Code"
        style="
          border-radius: 5px;
          padding: 10px;
          border: #4a6163 solid 2px;
          font-weight: 700;
        "
      />
      <button
        style="
          border-radius: 5px;
          border: solid #4a6163 2px;
          padding: 10px 15px;
          margin-left: 5px;
          background-color: #ffc948;
          color: #4a6163;
          font-weight: 700;
        "
      >
        Apply
      </button>
    </div>
    <div
      class="total-price"
      style="margin: 20px; border-bottom: rgb(74, 97, 99, 0.7) solid 3px"
    >
      <h2 style="font-weight: 800; font-size: 1.5em; color: #4a6163; margin: 0">
        Cart Total :
      </h2>
      <p style="font-weight: 700; margin: 0; color: rgb(74, 97, 99, 0.7)">
        Total Price : <span style="float: right">Rp. {{ totalPrice }},-</span>
      </p>
      <p
        style="
          font-weight: 700;
          margin: 0 0 15px 0;
          color: rgb(74, 97, 99, 0.7);
        "
      >
        Total Discount :
        <span style="float: right">Rp. {{ totalDiscount }},-</span>
      </p>
    </div>
    <div class="grand-total" style="padding: 0px 20px">
      <h2 style="font-weight: 800; color: #4a6163; font-size: 1.5em">
        GrandTotal<span style="float: right">Rp. {{ grandTotal }},-</span>
      </h2>
      <button
        style="
          width: 100%;
          padding: 10px 0px;
          background-color: #ffc948;
          color: #4a6163;
          border: solid 2px #4a6163;
          border-radius: 5px;
          font-weight: 700;
          margin-top: 5px;
          margin-bottom: 20px;
        "
        (click)="payCart()"
      >
        Pay
      </button>
    </div>
  </div>
</div>
