.quantity-btn {
  display: flex;
  width: 10em;
  height: 2.5em;
  margin: 0px 0px 0px 0px;
}
.quantity-min,
.quantity-plus {
  display: flex;
  flex: 1;
  border: 2px #4a6163 solid;
  background-color: #ffc94b;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
}
.quantity-number {
  border-radius: 5px;
  display: flex;
  flex: 2;
  border: 2px #4a6163 solid;
  background-color: #ffc94b;
  font-weight: 700;
  cursor: default;
}

.display-picture > p {
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #ffc94b;
  transform: rotate(-45deg);
  margin: auto;
}
.display-picture {
  display: flex;
  border: 4px solid #ffc94b;
  background-color: #4a6163;
  border-radius: 5px;
  width: 6em;
  height: 6em;
  margin: 10px auto;
}
