<div
  class="card"
  style="
    display: grid;
    background-color: white;
    height: 12em;
    width: 17em;
    border-radius: 15px;
  "
>
  <div class="display-picture">
    <p *ngIf="this.productsDetail.category === 'birthday_cake'">cake</p>
    <p *ngIf="this.productsDetail.category != 'birthday_cake'">
      {{ this.productsDetail.category }}
    </p>
  </div>
  <div class="card-text" style="display: grid; margin: 0 auto">
    <p style="font-size: 1.3em; font-weight: 500; margin: 0 auto">
      {{ this.productsDetail.items_name }}
    </p>
    <div
      class="price"
      style="
        display: flex;
        font-size: 0.8em;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0 auto;
      "
    >
      <p style="margin: 0">Rp. {{ this.productsDetail.price }}</p>
    </div>
    <div
      class="rating"
      style="display: flex; align-items: center; margin: 0 auto"
    >
      <span
        ><img
          src="assets/icon/star-icon-filled.svg"
          style="height: 1.5em"
          alt=""
      /></span>
      <p style="margin: auto; flex: 1; font-size: 0.7em; font-weight: 700">
        {{ this.productsDetail.rating_value }}/5 | Sold
        {{ this.productsDetail.sold_amount }}
      </p>
    </div>
  </div>
</div>
