<body style="display: grid; align-items: center; justify-content: center">
  <div class="login">
    <div class="container top-section pb-5">
      <div class="title">
        <h1>
          <ng-container *ngIf="pageConfig == '#/add-item'">
            Add Item</ng-container
          ><ng-container *ngIf="pageConfig == '#/edit-item'">
            Edit Item</ng-container
          >
        </h1>
        <h1 class="text-shadow">
          <ng-container *ngIf="pageConfig == '#/add-item'">
            Add Item</ng-container
          ><ng-container *ngIf="pageConfig == '#/edit-item'">
            Edit Item</ng-container
          >
        </h1>
      </div>
      <div class="container px-5 py-3">
        <div class="input-form">
          <p>Name</p>
          <input
            type="text"
            class="px-3"
            id="name"
            #name
            name="name"
            [value]="pageConfig == '#/edit-item' ? object.items_name : ''"
          />
        </div>
        <div class="input-form">
          <p>Category</p>

          <select id="category" #category name="category" class="px-3">
            <option
              *ngFor="let cat of categoryList"
              value="{{ cat.category_id }}"
            >
              {{ cat.category_name }}
            </option>
          </select>
        </div>
        <div class="input-form">
          <p>Price</p>
          <input
            type="price"
            class="px-3"
            id="price"
            #price
            name="price"
            [value]="pageConfig == '#/edit-item' ? object.price : ''"
          />
        </div>
      </div>
    </div>
    <div
      class="submit-button"
      (click)="
        pageConfig == '#/edit-item'
          ? editItem(name, category, price)
          : addItem(name, category, price)
      "
    >
      <h1
        class="text-center py-4"
        style="font-weight: 900; letter-spacing: 1px"
      >
        <ng-container *ngIf="pageConfig == '#/add-item'"> Add Item</ng-container
        ><ng-container *ngIf="pageConfig == '#/edit-item'"> Save</ng-container>
      </h1>
    </div>
  </div>
</body>
