<div *ngIf="data.type == 'login'">
  <div mat-dialog-content>
    <p>{{ data.message }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Okay</button>
    <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>
    Ok
  </button> -->
  </div>
</div>
<div *ngIf="data.type == 'delete-items'">
  <div mat-dialog-content>
    <p>Are you sure want to delete this item?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No</button>
    <button mat-button (click)="deleteItem(data.item_id)">Yes</button>
    <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>
      Ok
    </button> -->
  </div>
</div>
<div *ngIf="data.type == 'message-only'">
  <div mat-dialog-title>
    <h1 style="margin: auto">{{ data.message }}</h1>
  </div>
</div>
